<h1>Редактировать курс {{course.title}} </h1>

<form action="/courses/edit" method="POST">
    <div class="input-field ">
        <input id="title" type="text" name="title" class="validate" required value="{{course.title}}">
        <label for="first_name">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field ">
        <input id="price" type="number" name="price" class="validate" required min="1" value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field ">
        <input id="img" type="text" name="img" class="validate" required value="{{course.img}}">
        <label for="img">URL Картинки</label>
        <span class="helper-text" data-error="Введите URL Картинки" ></span>
    </div>
    <input type="hidden" name="id" value="{{course.id}}">
    <button class="btn btn-success">Редактировать курс</button>
</form>